http://localhost {
    reverse_proxy /api/ws api:3002 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
        header_up Connection "Upgrade"
        header_up Upgrade "websocket"
    }

    reverse_proxy /api* api:3002
    reverse_proxy /* web:3000
}